* {
	font-size: 10px;
}

@media only screen and (min-width: 100px) and (max-width: 640px) {}


/*大背景*/

.wrap {
	background-color: #f0f0f0;
	width: 100%;
}


/*头部*/

.wrap .header {
	/*height: 13rem;*/
	padding-top: 7%;
	padding-bottom: 6%;
	background-color: #29bde0;
	background-image: url(../game.IMG/laterigrade.png);
	background-repeat: no-repeat;
	background-position: 2% 80%;
}


/*主体内容*/

.wrap .main {
	width: 89%;
	margin-top: 3%;
}


/*上次游戏记录*/

.wrap .main .nav {
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 3%;
	background-color: #fff;
	background-image: url(../game.IMG/Back_Icon.png);
	background-repeat: no-repeat;
	background-position: 98% center;
	box-shadow: 0 0 0.1rem 0.2rem #c9c9c9, 0 0 0.1rem 0.2rem #c9c9c9;
}

.wrap .main .nav .title {
	font-size: 3.484rem;
	color: #9a9a9a;
}

.wrap .main .content {
	background-color: #fff;
	margin-bottom: 11%;
	box-shadow: 0 0 0.1rem 0.2rem #c9c9c9, 0 0 0.1rem 0.2rem #c9c9c9;
}

.wrap .main .content .page-turning {
	background-repeat: no-repeat;
	background-position: 98% 43%;
}
.wrap .main .content .carousel-controlx{
	position: absolute;
	top: 34%;
	left: 1rem;
}
.wrap .main .content .carousel-controls{
	position: absolute;
	top: 34%;
	right:1rem;
	margin-left: auto;
}
@media screen and (min-width: 768px){
.carousel-indicatorx{
    bottom: -0.3rem;
}
}
.wrap .main .content .carousel-indicatorx{
	text-align: center;
	padding-bottom: 2rem;
}
.wrap .main .content .carousel-indicatorx .one {
    /*display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;*/
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 0.1rem solid #FF6600;
    border-radius: 1rem;
    color: #000000;
}
.wrap .main .content .carousel-indicatorx .two {
    /*display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;*/
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 0.1rem solid #FF6600;
    border-radius: 1rem;
    color: #000000;
}


.wrap .main .content .content-title {
	font-size: 3.774rem;
	color: #fbb435;
	border-bottom: solid 0.1rem #fbb435;
	padding-bottom: 4%;
	padding-top: 5%;
}

.wrap .main .content .simplify {
	width: 81.4%;
	margin-top: 3rem;
	background-color: #69d1e9;
	padding-top: 7%;
	padding-bottom: 7%;
	font-size: 3.208rem;
	color: #fff;
	border: none;
}
.wrap .main .content .sim{
	position: relative;
}

.wrap .main .content .guess {
	
	width: 81.4%;
	background-color: #69d1e9;
	padding-top: 7%;
	padding-bottom: 7%;
	font-size: 3.208rem;
	color: #fff;
	border: none;
}


.wrap .main .content .idiocy {
	width: 81.4%;
	background-color: #69d1e9;
	padding-top: 7%;
	padding-bottom: 7%;
	font-size: 3.208rem;
	color: #fff;
	border: none;
}



.wrap .main .content .prompt {
	font-size: 2.453rem;
	color: #787878;
	padding-top:5%;
	padding-bottom: 4%;
}