* {
	font-size: 10PX;
}

.wrap {
	background-color: #29bde0;
}
/*头部*/
.wrap .header {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
	background-color: #29bde0;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 1.9rem;
	border-bottom: solid 0.1rem #74d4eb;
}

.wrap .header .title {
	color: #fff;
	font-size: 3.4rem;
}

.wrap .header .menu {
	margin-left: 1.2rem;
	
}

.wrap .header .cancel {
	margin-right: 1.2rem;
}
/*提示语*/
.wrap .content{
	margin-top: 11.8rem;
}
.wrap .content .prompt {
	background-color: #b9e9f5;
	padding-top: 3rem;
	padding-bottom: 6rem;
	position: relative;
	
}

.wrap .content .prompt .prompt-img {
	position: absolute;
	left: 10%;
	top: 100%;
}

.wrap .content .prompt .prompt-text {
	color: #464646;
	font-size: 2.6rem;
	display: block;
	position: absolute;
	left: 4rem;
}
.wrap .content .prompt .music{
	/*display:none;*/
}
.wrap .content .prompt .audio {
	position: absolute;
	right: 2%;
	top: 23%;
}
/*提示语位置*/
.wrap .content .text {
	padding-top: 2.6rem;
	padding-bottom: 4rem;
	/*text-align: left;*/
}

.wrap .content .text .text-click {
	color: #fff;
	font-size: 2.4rem;
	position: absolute;
	left: 7rem;
}
/*内容*/
.wrap .content .main {
	width: 80%;
	vertical-align: middle;
}
.wrap .content .main p{
	    margin: 0 0 0px;
}
.wrap .content .main .vote{
	height: 7.5rem;
}
.wrap .content .main .mizutami-1 {
	border: solid 4px #fff;
	width: 18%;
	display: inline-block;
	float: left;
}
.wrap .content .main .mizutami-1 .test{
	background-color: #f5c97b;
	font-size: 3rem;
	padding-top: 20%;
	padding-bottom: 20%;
	color: #565656;
}
.wrap .content .main .mizutami-1 .num{
	background-color: #83b09a;
	font-size: 2.276rem;
	color: #fff;
}
.wrap .content .main .mizutami-2 {
	border: solid 4px #fff;
	width: 18%;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
/*按钮*/
.wrap .fastener{
	position: fixed;
	z-index: 9999;
	bottom: 0;
	width: 100%;
	background-color: #29bde0;
	text-align: center;
}
.wrap .fastener .button{
	background-color:#fbb435 ;
	color: #fff;
	font-size: 4rem;
	border: none;
	padding: 2.6% 20% 2.6% 20%;
	margin-top: 4.4rem;
	margin-bottom: 6rem;
}